.book{
  label{
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
  }
  form{
    background-color: aliceblue;
    max-width: 56vw;
    border-radius: 10px;
    padding: 20px;
    input{
      width: 90%;
      margin-bottom: 10px;
    }
    p{
      font-size: 12px;
    }
  }
}
.width-100{
  width: 95% !important;
}
.width-90{
  width: 90% !important;
}
